<ion-header>
    <ion-toolbar class="header">
        <ion-title>TO-DO Apps</ion-title>
      </ion-toolbar>
  </ion-header>
<ion-content padding class="body">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="goToDetails()" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of receipts">
          <ion-card>
              <ion-card-content>
                <ion-card-title>
                    {{item.title}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    <ion-list>
                      <ion-item>
                        <p>{{item.desc}}</p>
                      </ion-item>
                      <br/>
                      <ion-button color="tertiary" (click)="toDetails(item)" expand="block">See Details</ion-button>
                    </ion-list>
                  </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
