<ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title>TO-DO Apps</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding class="body">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>TODO Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input type="text" placeholder="Title" [(ngModel)]="details.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea placeholder="Description" [(ngModel)]="details.desc" rows="6"></ion-textarea>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button color="danger" expand="block" (click)="delete()" *ngIf="deletIf()">Delete</ion-button>
          </ion-col>
          <ion-col>
              <ion-button color="success" expand="block" (click)="save()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br/>
      <br/>
    </ion-card-content>
  </ion-card>
</ion-content>
  
  